/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Great+Vibes&family=Indie+Flower&family=Lexend+Zetta&family=Raleway:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&family=Teko:wght@300;500&display=swap');

/* google font bangla */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Hind+Siliguri:wght@300;500;600;700&family=Mina:wght@400;700&display=swap');

/* others bangla fonts */
@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');

@import url('https://fonts.maateen.me/charu-chandan-hard-stroke/font.css');

@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');

@import url('https://fonts.maateen.me/bangla/font.css');

@import url('https://fonts.maateen.me/kalpurush/font.css');

@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.menu a {   
    float: right;
    font-size: 30px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.topic h1{
    font-size: 50px;
    color: white;
    background: #2196F3;
    text-align: center;
    margin: 50px 0;
    padding: 2px 0; 
}
.title h3 a{
    font-size: 20px;
    display: inline-block;
    color: white;
    background: #2196F3;
    text-align: center;
    width: 40%;
    margin: 50px 0;
}
.top a {
    font-size: 50px;
    float: right;
    margin: 50px;
    padding: 0 5px;
    border: 3px solid transparent;
}
.top a:hover {
    border: 3px solid red;
}


/* Local font */
@font-face {
    font-family: 'orange juice';
    src: url('font/local-font/orang ejuice.woff')
    format('woff2'),
        url('font/local-font/orangejuice.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angeline Vintage';
    src: url('font/local-font/AngelineVintage.woff2') format('woff2'),
    url('font/local-font/AngelineVintage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pillar Yellow Outline';
    src: url('font/local-font/PillarYellowOutline.woff2') format('woff2'),
        url('font/local-font/PillarYellowOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daylighted Demo';
    src: url('font/local-font/DaylightedDemoRegular.woff2') format('woff2'),
        url('font/local-font/DaylightedDemoRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pillar Yellow';
    src: url('font/local-ofnt/PillarYellowRegular.woff2') format('woff2'),
        url('font/local-font/PillarYellowRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deep Session Demo Outline';
    src: url('font/local-font/DeepSessionDemoOutline.woff2') format('woff2'),
        url('font/local-font/DeepSessionDemoOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deep Session Demo';
    src: url('font/local-font/DeepSessionDemoRegular.woff2') format('woff2'),
        url('font/local-font/DeepSessionDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Bangla */
@font-face {
    font-family: 'sagarnormal';
    src: url('font/local-font/sagarnormal-webfont.woff2') format('woff2'),
         url('font/local-font/sagarnormal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fs-50 {
    font-size: 50px;
}
.ff-name {
    font-family: 'Bitter', serif;
    font-size: 16px;
}
.one {
    font-family: 'orange juice';
    color: green;
}
.two {
    font-family: 'Angeline Vintage';
}
.three {
    font-family: 'Daylighted Demo';
}
.four {
    font-family: 'Pillar Yellow';
    color: red;
}
.five {
    font-family: 'Pillar Yellow Outline';
}
.six {
    font-family: 'Deep Session Demo';
}
.seven {
    font-family: 'Deep Session Demo Outline';
    color: blue;
}
.eight {
    font-family: 'sagarnormal';
    color: blue;
    font-size: 30px;
}

/* Google fonts */

.g-one {
    font-family: 'Bebas Neue', cursive;
    color: green;
}
.g-two {
    font-family: 'Bitter', serif;
}
.g-three {
    font-family: 'Great Vibes', cursive;
}
.g-four {
    font-family: 'Indie Flower', cursive;
    color: red;
}
.g-five {
    font-family: 'Lexend Zetta', sans-serif;
}
.g-six {
    font-family: 'Raleway', sans-serif;
}
.g-seven {
    font-family: 'Roboto', sans-serif;
    color: blue;
}
.g-eight {
    font-family: 'Baloo Da 2', cursive;
    font-size: 30px;
}
.g-nine {
    font-family: 'Hind Siliguri', sans-serif;    
    color: blue;
    font-size: 30px;
}
.g-ten {
    font-family: 'Mina', sans-serif;
    font-size: 30px;
}
.g-eleven {
    font-family: 'CharuChandan3D', sans-serif;
    font-size: 30px;
    color: blue;
}
.g-twelve {
    font-family: 'CharuChandanHardStroke', sans-serif;
    font-size: 30px;

}
.g-thirteen {
    font-family: 'CharukolaUltraLight', sans-serif;
    font-size: 30px;

}
.g-fourteen {
    font-family: 'Bangla', sans-serif;
    font-size: 30px;
    color: blue;
}
.g-fifteen {
    font-family: 'Kalpurush', sans-serif;
    font-size: 30px;
}
.g-sixteen {
    font-family: 'SolaimanLipi', sans-serif;
    font-size: 30px;
}






/* font-awesome */
.font-awesome {
    font-size: 30px;
}

.font-awesome i {
    margin-right: 20px;
}
.font-awesome i:hover {
    color: red;
}

/* flaticons */
.flat-icons i:before {
    font-size: 50px;
}
.flat-icons i:hover::before {
    color: red;
}

/* material icons */
.material-icons i {
    font-size: 50px;
    font-style: normal;
}

.material-icons i:hover {
    color: red;
}


/* bootstrap icons  svg*/
.bootstrap-icon-svg svg {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.bootstrap-icon-svg svg:hover {
    color: red;
}
/* bootstrap icons glyphicon */
.bootstrap-glyphicon span {
    font-size: 50px;
    margin-right: 15px;
}

/* CoreUI Icons */
.coreui-cons i {
    font-size: 50px;
    margin-right: 10px;
}
.coreui-cons i:hover {  
    color: red;
}


